name: Reusable Golang Build ECR Image

on:
  workflow_call:
    inputs:
      arm64:
        type: boolean
        required: false
        default: false
      architecture:
        type: string
        required: false
        default: 'arm64'
      go-version:
        default: '1.18.2'
        required: false
        type: string
      node-version:
        default: '1.18.2'
        required: false
        type: string
      react-version:
        default: '1.18.2'
        required: false
        type: string
      python-version:
        default: '1.18.2'
        required: false
        type: string
      custom:
        type: boolean
        required: false
        default: false
      run-tests:
        type: boolean
        required: false
        default: false
      test-name:
        type: string
        required: false
        default: ''
      ecr-prefix:
        type: string
        required: false
        default: ''
      ecr-name:
        type: string
        required: false
        default: ''
      ecr-public-registry:
        type: string
        required: false
        default: ''
      trivy-scan:
        type: boolean
        required: false
        default: true
      gitleaks:
        type: boolean
        required: false
        default: false
      custom-tests:
        type: boolean
        required: false
        default: false
      cmd-tests:
        type: string
        required: false
        default: "go test ./..."
      app-name:
        type: string
        required: true
      fetcher-name:
        type: string
        required: false
        default: ''
      branch:
        type: string
        required: true
      event_name:
        type: string
        required: true
      environment:
        type: string
        default: 'dev'
        required: false
      cluster:
        type: string
        default: 'env1'
        required: false
      latest:
        type: boolean
        required: false
        default: false
      self-hosted:
        type: boolean
        required: false
        default: false
      pre-run:
        type: string
        required: false
        default: ""
      run:
        required: false
        type: string
      cache-id:
        required: false
        default: ""
        type: string
    secrets:
      GLOBAL_PAT_USERNAME:
        required: true
      GLOBAL_PAT:
        required: true
      CI_AWS_CRED_KEY:
        required: true
      CI_AWS_CRED_SECRET:
        required: true
      CI_REGION:
        required: true
      CI_ACCOUNT_ID:
        required: true

permissions:
  contents: read
  actions: write
  id-token: write

jobs:
  tests:
    name: Run Tests
    runs-on: 'ubuntu-24.04-arm'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Go Cache Preflights
        id: cache
        uses: infralight/.github/.github/actions/calc-cache-vars@master
        with:
          app-name: ${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }}
          architecture: ${{ inputs.architecture }}
          go-version: ${{ inputs.go-version }}
          verb: 'tests'

      - name: Go Cache Restore
        id: go-cache-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ steps.cache.outputs.go-build }}
            ${{ steps.cache.outputs.go-mod }}
          key: ${{ steps.cache.outputs.cache-key }}
          restore-keys: |
            ${{ steps.cache.outputs.cache-key-any }}
            ${{ steps.cache.outputs.cache-key-any2 }}

      - uses: actions/setup-go@v2
        with:
          go-version: ${{ steps.cache.outputs.go-version }}

      - name: Configure Git for Private Modules
        run: git config --global url."https://${{ secrets.GLOBAL_PAT }}:x-oauth-basic@github.com".insteadOf "https://github.com"

      - run: make ${{ inputs.test-name != '' && inputs.test-name || format('test-{0}', inputs.app-name) }}
        env:
          GOPRIVATE: "github.com/infralight/*,github.com/gofireflyio/*"

  build-push-ecr:
    name: "Build & Push ECR Docker Image "
    environment: ${{ inputs.environment }}
    runs-on: [self-hosted, arm64 ,'${{ inputs.environment }}']
    env:
      HAVE_GLOBAL_PAT: ${{ secrets.GLOBAL_PAT != '' }}
      HAVE_RUN_CMD: ${{ inputs.run != '' }}
      CLUSTER_NAME: ${{ inputs.environment == 'stag' && 'stgeu' || inputs.environment == 'dev' && inputs.cluster || inputs.environment }}
      PRIVATE_ECR_REGISTRY: ${{ secrets.CI_ACCOUNT_ID }}.dkr.ecr.${{ secrets.CI_REGION }}.amazonaws.com
      app-name: ${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.branch }}

      - name: Configure Git for Private Modules
        if: ${{ env.HAVE_GLOBAL_PAT == 'true' }}
        run: git config --global url."https://${{ secrets.GLOBAL_PAT }}:x-oauth-basic@github.com".insteadOf "https://github.com"

      - name: Go Cache Preflights
        id: cache
        uses: infralight/.github/.github/actions/calc-cache-vars@master
        with:
          app-name: ${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }}
          architecture: ${{ inputs.architecture }}
          go-version: ${{ inputs.go-version }}
          verb: 'build'

      - name: Go Cache Restore
        id: go-cache-restore
        uses: actions/cache/restore@v4
        with:
          path: |
            ${{ steps.cache.outputs.go-build }}
            ${{ steps.cache.outputs.go-mod }}
          key: ${{ steps.cache.outputs.cache-key }}
          restore-keys: |
            ${{ steps.cache.outputs.cache-key-any }}
            ${{ steps.cache.outputs.cache-key-any2 }}

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ steps.cache.outputs.go-version }}

      - name: Go Cache Build
        if: steps.go-cache-restore.outputs.cache-hit != 'true'
        continue-on-error: true
        run: |
          gh workflow run firefly-cache-manager.yaml \
          -f branch="$(git branch --show-current)" -f app-name="${{ steps.cache.outputs.target }}" -f go-version=${{ inputs.go-version }}
        env:
          GITHUB_TOKEN: ${{ github.token }}

      - name: Set Outputs
        id: vars
        run: |
          echo "tag=${GITHUB_REF#refs/*/}" >> "$GITHUB_OUTPUT"
          echo "date=$(date +'%Y-%m-%d')" >> "$GITHUB_OUTPUT"

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        env:
          environment: ${{ startsWith(inputs.environment, 'env') && 'dev' || inputs.environment }}
        with:
          role-to-assume: arn:aws:iam::${{ secrets.CI_ACCOUNT_ID }}:role/${{ env.environment }}-github-actions-oidc
          role-session-name: runner
          aws-region: ${{ secrets.CI_REGION }}

      - name: Pre-Run
        if: ${{ inputs.pre-run != '' }}
        run: ${{ inputs.pre-run }}

      - name: Go Build
        if: ${{ !inputs.arm64 }}
        env:
          GOPRIVATE: "github.com/infralight/*,github.com/gofireflyio/*"
        run: |
          make ci-build-${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }} VERSION=${{ steps.vars.outputs.tag }} BUILD_TIME=${{ steps.vars.outputs.date }} COMMIT_SHA=${GITHUB_SHA} WORK_DIR=${GITHUB_WORKSPACE}

      - name: Generate ECR Name
        id: ecr-name
        run: |
          echo "ECR_NAME=${{ inputs.ecr-name != '' && inputs.ecr-name || inputs.app-name }}" >> $GITHUB_ENV

      - name: Docker Build Image
        if: ${{ !inputs.arm64 && env.HAVE_RUN_CMD == 'false' }}
        run: |
          make ci-docker-build-${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }} ACCESS_TOKEN_USR=${{ secrets.GLOBAL_PAT_USERNAME }} ACCESS_TOKEN_PWD=${{ secrets.GLOBAL_PAT }} GITLEAKS_FILE_PATH=s3://${{ format('firefly-{0}-gitleaks-configuration/gitleaks.toml', env.CLUSTER_NAME) }}
          docker tag docker.io/library/tempimage ${{ secrets.CI_ACCOUNT_ID }}.dkr.ecr.${{ secrets.CI_REGION }}.amazonaws.com/${{ inputs.ecr-prefix }}${{ env.ECR_NAME }}:latest
          docker tag docker.io/library/tempimage ${{ secrets.CI_ACCOUNT_ID }}.dkr.ecr.${{ secrets.CI_REGION }}.amazonaws.com/${{ inputs.ecr-prefix }}${{ env.ECR_NAME }}:${GITHUB_SHA::6}

      - name: Set up QEMU
        if: ${{ inputs.arm64 }}
        uses: docker/setup-qemu-action@v2
        with:
          platforms: "arm64"

      - name: Go Build [arm64]
        if: ${{ inputs.arm64 }}
        env:
          GOPRIVATE: "github.com/infralight/*,github.com/gofireflyio/*"
        run: |
          COMMAND=$(make --dry-run ci-build-${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }} VERSION=${{ steps.vars.outputs.tag }} BUILD_TIME=${{ steps.vars.outputs.date }} COMMIT_SHA=${GITHUB_SHA} WORK_DIR=${GITHUB_WORKSPACE})
          COMMAND=$(echo "$COMMAND" | sed 's/GOARCH\=amd64/GOARCH\=arm64/ig')
          if [[ "$COMMAND" != *"GOARCH=arm64"* ]]; then
              COMMAND=$(echo "$COMMAND" | sed -E 's/go\s+build/GOARCH\=arm64 go build/')
          fi
          echo "$COMMAND"
          echo "$COMMAND" | bash

      - name: Docker Build Image [arm64]
        if: ${{ env.HAVE_RUN_CMD == 'false' && inputs.arm64 }}
        run: |
          COMMAND=$(make --dry-run ci-docker-build-${{ inputs.fetcher-name != '' && inputs.fetcher-name || inputs.app-name }} ACCESS_TOKEN_USR=${{ secrets.GLOBAL_PAT_USERNAME }} ACCESS_TOKEN_PWD=${{ secrets.GLOBAL_PAT }} GITLEAKS_FILE_PATH=s3://${{ format('firefly-{0}-gitleaks-configuration/gitleaks.toml', env.CLUSTER_NAME) }} )
          COMMAND=$(echo "$COMMAND" | sed -E 's/docker\s+buildx\s+build/docker buildx build \-\-platform\=linux\/arm64/ig')
          COMMAND=$(echo "$COMMAND" | sed -E 's/docker\s+build\s/docker build \-\-platform\=linux\/arm64 /ig')
          echo "$COMMAND"
          echo "$COMMAND" | bash

      - name: Run Trivy Vulnerability Scanner
        if: ${{ inputs.trivy-scan && inputs.environment == 'dev' }}
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: docker.io/library/tempimage
          format: 'json'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          output: ${{ contains(fromJSON('["prod", "stag"]'), inputs.environment) && inputs.environment || inputs.cluster }}-trivy-${{ inputs.app-name }}-results.json
        # env:
        #   TRIVY_DB_REPOSITORY: public.ecr.aws/aquasecurity/trivy-db:latest

      - name: Upload Trivy Scan Results to S3
        if: ${{ inputs.environment == 'dev' }}
        env:
          TRIVY_RESULT: ${{ contains(fromJSON('["prod", "stag"]'), inputs.environment) && inputs.environment || inputs.cluster }}-trivy-${{ inputs.app-name }}-results.json
          S3_BUCKET: firefly-${{ contains(fromJSON('["prod", "stag"]'), inputs.environment) && inputs.environment || inputs.cluster }}-trivy-scans
        run: aws s3 cp "./$TRIVY_RESULT" "s3://$S3_BUCKET/$TRIVY_RESULT"

      - name: AWS ECR Login
        if: inputs.ecr-public-registry == '' || inputs.environment != 'prod'
        uses: aws-actions/amazon-ecr-login@v2

      - name: AWS ECR Public Login
        if: inputs.ecr-public-registry != '' && inputs.environment == 'prod'
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registry-type: public

      - name: Push Docker Image to ECR
        if: (env.HAVE_RUN_CMD == 'false')
        env:
          ECR_REGISTRY: ${{ (inputs.environment == 'prod' && inputs.ecr-public-registry != '') && inputs.ecr-public-registry || env.PRIVATE_ECR_REGISTRY }}
        run: |
          IMAGE_URI=${{ env.ECR_REGISTRY }}/${{ inputs.ecr-prefix }}${{ env.ECR_NAME }}

          docker tag docker.io/library/tempimage ${IMAGE_URI}:${GITHUB_SHA::6}
          docker push ${IMAGE_URI}:${GITHUB_SHA::6}

          if ${{inputs.latest}}; then
            docker tag docker.io/library/tempimage ${IMAGE_URI}:latest
            docker push ${IMAGE_URI}:latest
          fi

      - name: "[Build]: build image & upload to ECR - CUSTOM"
        if: ${{ env.HAVE_RUN_CMD == 'true' }}
        run: ${{ inputs.run }}
