name: Reusable Frontend Build

on:
  workflow_call:
    inputs:
      node-version:
        default: '14.x'
        required: false
        type: string
      custom:
        type: boolean
        required: false
        default: false
      run-tests:
        type: boolean
        required: false
        default: false
      trivy-scan:
        type: boolean
        required: false
        default: false
      branch:
        type: string
        required: true
      environment:
        type: string
        default: 'dev'
        required: false
      slack:
        type: boolean
        default: true
        required: false
    secrets:
      CI_AWS_CRED_KEY:
        required: true
      CI_AWS_CRED_SECRET:
        required: true
      CI_REGION:
        required: true
      CI_ACCOUNT_ID:
        required: true
      CI_BACKEND_URL:
        required: true
      CI_AUTH0_CLIENT_ID:
        required: true
      CI_AUTH0_DOMAIN:
        required: true
      CI_FRONTEND_BUCKET:
        required: true
      CI_SLACK_WEBHOOK:
        required: true
      CI_DISTRIBUTION_ID:
        required: true
      CI_AZURE_DEVOPS_CLIENT_ID:
        required: true

permissions:
  id-token: write
  contents: read

jobs:
  build:
    environment: ${{ inputs.environment }}
    name: "Frontend - Build & Deploy"
    runs-on: [self-hosted, frontend, "${{ inputs.environment }}"]
    steps:
      - name: Git Checkout
        uses: actions/checkout@v3.1.0

      - name: "Setup Node ${{ inputs.node-version }}"
        uses: actions/setup-node@v3.5.0
        with:
          node-version: ${{ inputs.node-version }}

      - name: Setup config.js With Environment
        run: ./scripts/set_vars.sh
        shell: bash
        env:
          AUTH0_CLIENT_ID: ${{ secrets.CI_AUTH0_CLIENT_ID }}
          AUTH0_DOMAIN: ${{ secrets.CI_AUTH0_DOMAIN }}
          AUTH0_NS: https://infralight.co
          AUTH0_AUDIENCE: infralight-api
          BACKEND_URL: ${{ secrets.CI_BACKEND_URL }}
          NEXUS_API_URL: ${{ vars.CI_NEXUS_API_URL }}
          SSO_DOMAINS_OKTA: ${{ vars.SSO_DOMAINS_OKTA }}
          SSO_DOMAINS_AZURE: ${{ vars.SSO_DOMAINS_AZURE }}
          SSO_DOMAINS_PING: ${{ vars.SSO_DOMAINS_PING }}
          SSO_DOMAINS_ONE: ${{ vars.SSO_DOMAINS_ONE }}
          AZURE_DEVOPS_CLIENT_ID: ${{ secrets.CI_AZURE_DEVOPS_CLIENT_ID }}

      - name: Node Cache
        uses: actions/cache@v4
        id: npm-cache
        with:
          path: |
            **/node_modules
            **/.eslintcache
          key: ${{ runner.os }}-npm-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-

      - name: Frontend Build (npm)
        env:
          CI: "false"
          NODE_OPTIONS: "--max-old-space-size=9728"
        run: |
          npm install -g --legacy-peer-deps --only=prod --unsafe-perm
          npm run build

      - name: Install AWS Cli
        run: |
          curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o /tmp/awscliv2.zip
          unzip -q /tmp/awscliv2.zip -d /tmp
          rm /tmp/awscliv2.zip
          sudo /tmp/aws/install --update
          rm -rf /tmp/aws/

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        env:
          environment: ${{ startsWith(inputs.environment, 'env') && 'dev' || inputs.environment }}
        with:
          role-to-assume: arn:aws:iam::${{ secrets.CI_ACCOUNT_ID }}:role/${{ env.environment }}-github-actions-oidc
          role-session-name: runner
          aws-region: ${{ secrets.CI_REGION }}

      - name: Upload Files
        env:
          AWS_REGION: ${{ secrets.CI_REGION }}
          AWS_S3_BUCKET: ${{ secrets.CI_FRONTEND_BUCKET }}
        run: |
          #  Upload all files except index.html
          aws s3 sync build s3://$FRONTEND_BUCKET \
            --acl public-read \
            --follow-symlinks \
            --delete \
            --exclude 'files/*' \
            --exclude 'public/index.html' \
            --region $AWS_REGION

          # Upload index.html with no-cache
          aws s3 cp build/index.html s3://$FRONTEND_BUCKET/index.html \
            --acl public-read \
            --cache-control "no-cache, no-store, must-revalidate" \
            --region $AWS_REGION

      - name: Invalidate Cloudfront
        uses: docker://public.ecr.aws/firefly/cloudfront-invalidation:v0.0.5
        env:
          PATHS: '/*'
          AWS_REGION: ${{ secrets.CI_REGION }}
          DISTRIBUTION_ID: ${{ secrets.CI_DISTRIBUTION_ID }}

      - name: Slack Notification
        if: ${{ success() }} && ${{ inputs.slack }}
        uses: rtCamp/action-slack-notify@v2
        env:
          SLACK_COLOR: ${{ job.status }} # or a specific color like 'green' or '#ff00ff'
          SLACK_ICON: https://assets-global.website-files.com/5d514fd9493b0575f03520bd/5d8e0b39fd776a3c238e8753_icons8_infinity_large_filled_2.svg
          SLACK_MESSAGE: "Frontend (${{ inputs.environment }}) env successfully deployed from ${{ github.ref }}"
          SLACK_TITLE: "Frontend (${{ inputs.environment }}) deployment notification"
          SLACK_USERNAME: cicdBot
          SLACK_WEBHOOK: ${{ secrets.CI_SLACK_WEBHOOK }}
